@import url('http://fonts.googleapis.com/css?family=Lobster');
@import url(font-awesome.css);
@import url(base.css);
@import url(layout.css);
@import url(front.css);

.dark input.form-text {
  border: none;
}

select {
  -webkit-appearance: menulist;
}

fieldset {
  padding: 10px;
  margin: 0 2px;
  border: 1px solid #eaeaea;
}

legend {
  border-bottom: none;
  font-size: 14px;
  width: auto;
  margin: 0;
}

input[type="radio"], input[type="checkbox"] {
  margin: 0px 0 3px;
}

/*buttons*/
input[type="submit"], input[type="reset"], input[type="button"] {
  margin: 5px 5px 10px 0;
  background-color: #444;
  border: none;
  box-shadow: none;
  color: #fff;
  padding: 15px 24px;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover{
  color: #ffffff;
}

/* col */
body.page-node.node-type-collection .node-collection div[class*=field-type-taxonomy-term] .field-items .field-item{
  display: inline-block;
  margin-right:10px;
}

/* staticpage */
body.node-type-staticpage .content{
  width:800px;
  max-width:100%;
  font-size:18px;
  line-height:1.8;
}

body.node-type-staticpage .content h2 {
  font-size: 26px;
  line-height: 1.8;
  padding: 25px 0px 5px 0px;
}

/****************************
 * misc
 ****************************/

.node_tools a{
  color: darkred;
}

.node_tools a:hover{
  color: orange;
}
