doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title 318 Expo      
    link(rel='stylesheet', href='/stylesheets/vendors/colorbox/colorbox.css')
    link(rel='stylesheet', href='/javascripts/vendors/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/vendors/font-awesome-4.3.0/css/font-awesome.min.css')    
    link(rel='stylesheet', href='/stylesheets/vendors/sticky-footer-navbar.css')
    link(rel='stylesheet', href='/stylesheets/jasny-bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/navmenu.css')
    link(rel='stylesheet', href='/stylesheets/boot-style.css')
        
    script(src='/javascripts/vendors/jquery-1.11.2.min.js')
    script(src='/javascripts/vendors/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/vendors/jquery.colorbox-min.js')
    script(src='/javascripts/vendors/jquery.lazyload.min.js')
    script(src='/javascripts/jasny-bootstrap.min.js')
    script(src='/javascripts/map.js')
    script(src='/javascripts/state.js')
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/javascripts/vendors/html5shiv.min.js"></script>
    <script src="/javascripts/vendors/respond.min.js"></script>
    <![endif]-->        
  body
    block content
