doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/vendors/colorbox/colorbox.css')
    script(src='/javascripts/vendors/jquery-2.1.3.min.js')
    script(src='/javascripts/vendors/jquery.colorbox-min.js')
    script(src='/javascripts/map.js')
          
  body
    block content                
