extends sticker_add_layout

block content
  div(class='container')
    div(class='header')
      nav
        ul(class='nav nav-pills pull-right')
          li(role='presentation', class='active')
            a(href='/stickers/add') Sticker
          li(role='presentation')
            a(href='/storys/add') Story
      h3(class='text-muted')= title
    div(class='jumbotron')                                  
      #sticker_form(style="width: 580px ; height: 475px")
        div(class="w2ui-page page-0")
          div(class="w2ui-field")
            label Picture URL:
            div
              input(name="pic_url", type="text", maxlenght="100", size="60", style="width: 400px")
          div(class="w2ui-field")
            label Target URL(optional):
            div
              input(name="target_url", type="text", maxlenght="100", size="60", style="width: 400px")
          div(class="w2ui-field")
            label Title:
            div
              input(name="title", type="text", maxlenght="100", size="60", style="width: 400px")
          div(class="w2ui-field")
            label Author:
            div
              input(name="author", type="text", maxlenght="100", size="60", style="width: 400px")
          div(class="w2ui-field")
            label Content:
            div
              textarea(name="content", type="text", maxlength="1000", size="60", style="width: 400px; height: 200px;")              
                  
          div(class="w2ui-buttons")
            button(class="btn", name="reset") Reset
            button(class="btn", name="save") Save  
  
  script(type="text/javascript").
    $(function () {
      $('#sticker_form').w2form({
        name  : 'sticker_form',
        url   : '/pictures/add',
        fields: [
          { field: 'target_url',  type: 'text'  },
          { field: 'pic_url',     type: 'text'  },
          { field: 'title',       type: 'text'  },
          { field: 'author',      type: 'text'  },
          { field: 'content',  type: 'textarea' },
        ],
        actions: {
          reset: function () {
            this.clear();
          },
          save: function () {
            //this.save();            
            this.record.kind = 2;                        
            w2ui.sticker_form.lock('Loading...', true);
            
            $.ajax({
              type: "POST",
              url: this.url,
              data: JSON.stringify(this.record),
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              processData: true,
              success: function (data, status, jqXHR) {
                w2ui.sticker_form.unlock();
                window.top.location.href = "/";
                //console.log(data);
              },
              error: function (xhr) {
                w2ui.sticker_form.unlock();
                alert(xhr.statusText);
              }
            });
            // continue here
            
          }
        },
      });
      
      //CKEDITOR.replace('content');
    });
    
