doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/vendors/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/vendors/jumbotron-narrow.css')
    link(rel='stylesheet', href='/stylesheets/vendors/w2ui-1.4.2.min.css')
      
    script(src='/javascripts/vendors/jquery-1.11.2.min.js')
    script(src='/javascripts/vendors/bootstrap/js/bootstrap.min.js')    
    script(src='/javascripts/vendors/w2ui-1.4.2.min.js')
    script(src='/javascripts/vendors/ckeditor/ckeditor.js')
  body
    block content
